@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.success {
  background-color: green;
}
.fail {
  background-color: red;
}

.container_custom {
  width: 100%;
}
@media (min-width: 640px) {
  .container_custom {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container_custom {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container_custom {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container_custom {
    max-width: 1024px;
  }
}
@media (min-width: 1536px) {
  .container_custom {
    max-width: 1024px;
  }
}

.test {
  width: calc(attr(data-width) +100px);
  /* width: 20px; */
}

[contentEditable="true"]:empty:before {
  content: attr(text-placehoder);
}

.faill {
  border-color: red !important;
  box-shadow: 0 0 5px red; /* Optional: Adds a glowing effect */
}
.faill-focus {
  border-color: red;
  box-shadow: 0 0 5px red; /* Optional: Adds a glowing effect */
}

.faill-animation {
  animation: faillAnimation 0.5s ease-in-out;
}

@keyframes faillAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }

  /* 0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  } */
}
